/* Forms */


/* Structural Containers
-------------------------------------------------- */


	form {
	
	
	
		}
		
	form label {
	
		float: left;
		padding: 5px 5px 5px 0;
	
		}
		
	form br {
	
		clear: left;
	
		}


/* Inputs
-------------------------------------------------- */


	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="password"],
	input[type="telephone"],
	textarea {

		-webkit-appearance: none;
		border: 1px solid #dadada;
		font: normal 15px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding: 5px;
		border-radius: 2px;
		color: #333;
		outline: none;

		}
		
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	textarea:focus {
	
		border-color: #999;
	
		}
		
		
/* Placeholder text for IE */


	input.placeholder_text {
	
		color: #ccc;
	
		}
		
		
/* Errors */


	input.error {
	
		border-color: #c00 !important;
		background: #fcc;
		color: #c00;
	
		}				


/* Buttons
-------------------------------------------------- */


	input[type="submit"] {
	
		-webkit-appearance: none;
		float: left;
		clear: left;
		font: normal 23px/23px 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 1px rgba(0,0,0,.35);
		padding: 10px 15px;
		color: #fff;
		background: #6d9d2c url('../images/bg-button.png') repeat-x;
		border: 1px solid #999;
		border-radius: 5px;
		cursor: pointer;
		margin-top: 12px;
		opacity: .9;
		filter: alpha(opacity=90);
		-webkit-box-shadow: 0 0 0 4px rgba(0,0,0,.15);
		-moz-box-shadow: 0 0 0 4px rgba(0,0,0,.15);
		box-shadow: 0 0 0 4px rgba(0,0,0,.15);

		}
		
	input[type="submit"]:hover {
	
		opacity: 1;
		filter: alpha(opacity=100);
	
		}