/* Layout */

/* Structural Containers
-------------------------------------------------- */

	
	body {
	
		background: #f5f5f5;
	
		}

	header,
	section,
	footer {
	
		float: left;
		width: 100%;
	
		}
		
	section {
	
		clear: both;
	
		}	
		
	header > div,
	section > div,
	footer > div {
	
		width: 940px;
		padding: 0 20px;
		margin: 0 auto;
	
		}
		
	.content > div {
	
		width: 900px;
		padding: 40px;
	
		}
		
	.content + .content {
	
		border-top: 1px solid #ccc;
	
		}
		
	.clear {
	
		clear: left;
	
		}


/* Header
-------------------------------------------------- */


	header {
	
		padding-top: 20px;
		background: #fff url('../images/bg-header.png') center bottom repeat-x;
	
		}
		
	header h1 {
	
		float: left;
		margin: 0 0 20px;
	
		}
		
	header h1 a {
	
		display: block;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 285px;
		height: 80px;
		background: url('../images/h1-logo.png') no-repeat;
	
		}
		
		
/* Info */


	#info {
	
		float: right;
		text-align: right;
		font-size: 12px;
		margin-top: 10px;

		}
		
	#info strong {
	
		font-size: 20px;
		line-height: 24px;
		display: block;
		font-weight: normal;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 10px 15px;
		margin-top: 10px;
		background: #fff url('../images/bg-header.png') center -50px repeat-x;
	
		}

	#info strong span {
	
		color: #B30008;
	
		}
		

/* Navigation
-------------------------------------------------- */


	nav {
	
		width: 940px;
		padding: 0 20px;		
		margin: 0 auto;
		clear: both;
	
		}
		
	nav ul {
	
		padding: 0;
		list-style-type: none;
		margin: 0;
		float: left;
		width: 940px;
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: -20px;
		position: relative;
		z-index: 2;
		background: #777 url('../images/bg-nav.png') center bottom repeat-x;

		}
		
	nav li {
	
		float: left;
		width: 20%;
	
		}
		
	nav a {
	
		display: block;
		border-right: 1px solid #999;
		border-left: 1px solid #000;
		text-align: center;
		color: #fff;
		font-size: 20px;
		line-height: 20px;
		padding: 11px 0;
		text-shadow: 0 1px 0 rgba(0,0,0,.95);
	
		}
		
	nav a:hover,
	nav .selected a {
		
		color: #B30008;
		background: #b9ce44 url('../images/bg-nav-selected.png') center bottom repeat-x;
		text-decoration: none;

		}
		
	nav li:first-child a {
	
		border-radius: 4px 0 0 4px;
		border-left: none;
	
		}
		
	nav li:last-child a {
	
		border-radius: 0 4px 4px 0;
		border-right: none;
	
		}
		
		
/* Billboard
-------------------------------------------------- */


	#billboard {
	
		background: #cf030e url('../images/bg-billboard.jpg') center top no-repeat;
	
		}
		
	#billboard > div > div {

		padding: 30px 0 10px;
		margin-top: 15px;
		width: 940px;
		float: left;
		position: relative;

		}
		
		
/* Content */


	#billboard .billboard_content {
	
		float: left;
		width: 625px;
		color: #fff;
		text-shadow: 0 2px 1px rgba(0,0,0,.35);
	
		}
		
	#billboard h2 {
	
		font-size: 24px;
		line-height: 30px;
		font-weight: normal;
	
		}
		
	#billboard h2 strong {
	
		display: block;
		color: #93cc00;	
	
		}
		

/* Services */
		
		
	#billboard .services {
	
		float: left;
		background: url('../images/billboard.png') no-repeat;
		min-height: 96px;

		}
		
	#billboard .services > div {
	
		float: left;
		width: 149px;
		padding: 20px 15px;

		}
		
	#billboard .services .tv { width: 133px; }
	#billboard .services .voice { width: 133px; }
	
	#billboard .services h4 {
	
		color: #fff;
		margin-bottom: 10px;
	
		}
	
	#billboard .services ul {
	
		padding: 0;
		list-style-type: none;
	
		}
		
	#billboard .services > strong {
	
		float: left;
		font-size: 85px;
		line-height: 1em;
		margin: 15px 0 0 5px;
		color: #f80;
		font-weight: normal;
		text-shadow: 0 2px 1px rgba(255,255,255,.85);
	
		}
		
	#billboard .services > strong sup {
	
		float: left;
		font-size: 24px;
		line-height: 50px;
		color: #fff;
		text-shadow: none;
	
		}
		
		
/* Call to action */		
		
		
	#billboard .billboard_content > strong {
	
		position: absolute;
		bottom: 40px;
		right: 305px;
		float: left;
		padding: 17px 50px 17px 100px;
		font-size: 24px;
		line-height: 1em;
		font-weight: normal;
		color: #000;
		background: url('../images/bg-gold.png') no-repeat;
		text-shadow: 0 1px 1px rgba(255,255,255,.75);
	
		}
		
	#billboard .billboard_content > strong span {
	
		color: #b30007;
	
		}
		

/* Form */		
		
		
	#form {
	
		float: right;
		width: 275px;
		min-height: 210px;
		background: #f5f5f5;
		padding: 0 15px 20px;
		margin-bottom: 20px;
		border-radius: 2px;
		overflow: hidden;
		margin-top: 12px;
		-webkit-box-shadow: 0 0 0 7px rgba(255,255,255,.25);
		-moz-box-shadow: 0 0 0 7px rgba(255,255,255,.25);
		box-shadow: 0 0 0 7px rgba(255,255,255,.25);

		}
		
	#form h3 {
	
		color: #fff;
		background: #444 url('../images/bg-nav.png') repeat-x;
		margin: 0 -15px 15px;
		padding: 10px 20px;
		text-align: center;
		text-shadow: 0 2px 1px rgba(0,0,0,.25);

		}
		
	.address input {
	
		width: 263px;
	
		}
		
	.zip {
		
		padding-right: 0;
	
		}
			
	.apt input, .zip input {
	
		width: 123px;
	
		}
		
	#form input[type="submit"] {
	
		display: block;
		float: none;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	
		}	
						
	
/* Footer
-------------------------------------------------- */
		
		
	footer {
	
		border-top: 1px solid #ccc;
		color: #aaa;
		background: #e4e4e4;
		padding: 20px 0;
		text-align: center;
		
		}
		
	footer p {
	
		margin-bottom: 8px;
	
		}
		
	footer a {

		color: #9f9f9f;

		}

	footer a:hover {

		color: #666;

		}
		
	footer .logo {
	
		text-indent: 100%;
		overflow: hidden;
		width: 200px;
		height: 58px;
		display: block;
		margin: 0 auto;
		background: url('../images/logo.png');
	
		}
