# ENABLE REWRITING
Options Indexes FollowSymLinks
RewriteEngine On
RewriteBase /

# FORCE NON-WWW
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# CHECK IF CALLING FILE OR DIRECTORY
RewriteCond %{request_filename} -d [OR]
RewriteCond %{request_filename} -f
RewriteRule ^.*$ - [L]


# PAGE REWRITES --------------------------------------------

# /scss/file.scss
RewriteRule ^scss/(.*)$ /_index/actions/scss.php/$1 [L,QSA]