/* compiled by scssphp v0.0.3 on Wed, 05 Dec 2012 03:21:55 +0100 (0.0056s) */

@media screen and (max-width: 600px) {
  body {
    background: #fff; }

  #content {
    width: 90%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0; }

  .pdf {
    display: none; } }
