/* compiled by scssphp v0.0.3 on Wed, 05 Dec 2012 03:21:54 +0100 (0.0032s) */

/* Resen Documentation */
/* Precedents
------------------------------------------------ */
* {
  margin: 0;
  padding: 0; }

img {
  border: none; }
